

#site_name{


   font-family: 'Dancing Script', cursive;
   font-size: 45px;
   color: #F24362;
   opacity:0.5;

}

.nav{


    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
	color: #f6f6f6;
}


 hr{


	 width: 100%;
	 height:3px;
	 background-color: teal;

 }


 #background_image{

	  width: 100%;
	  height: 600px;
      background-color:#90EE90;
	  filter:grayscale(80%);
	  mix-blend-mode:screen;
	  opacity:0.7;


 }
    
p{

	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	color:maroon;
	position: relative;
	top:30px;
	text-align: center;


}

#text_background{

    position: absolute;
    left:0;
    right:0;
    top:-110px;
    bottom: 0;
    margin:auto;
	width:200px;
	height:200px;
	border-radius: 100%;
	background-color:white;
	opacity: 0.5;
	
}

#facebook{

position:absolute;
font-size: 45px;
text-align: center;
margin-left: 40%;
top:70%;
color:#938989;
opacity: 0.7;


}

#twitter{

	position:absolute;
	font-size: 45px;
	text-align: center;
	margin-left: 55%;
	top:70%;
	color:#938989;
	opacity: 0.7;


}

#github{

	position:absolute;
	font-size: 45px;
	text-align: center;
	margin-left: 45%;
	top:70%;
	color:#938989;
	opacity: 0.7;


}



#linkedin{

	position: absolute;
	font-size: 45px;
	text-align: center;
	margin-left: 50%;
	top: 70%;
	color: #938989;
	opacity: 0.7;


}


#photos_background{

   width: 100%;
   height: auto;
   /*-webkit-background-blend-mode: screen;*/
   opacity: 0.5;
   overflow-y: auto;

}


/*.container{

position:absolute;
top:2rem;
left:2rem;
right:2rem;
bottom:2rem;

flex-direction:row;
display:flex;
align-items: center;
justify-content: flex-end;
width:100%;
padding:2rem 0;
}




figure img{

width:100%;




}

figure{


  
float: left;
margin-bottom: 1rem;
position: relative;   
 cursor:pointer;
 font-size: 15px;
 font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
 text-align: center;

  
}


figure a{


height: 100%;
margin-left: 2rem;


  
}


body,html,img,div,a,header,footer,nav,section,figure,figcaption{


margin:0;
padding:0;

}

footer{

background-color: #7f9276;
opacity: 0.7;
text-align: center;
padding: 2em 0;
color: ghostwhite;
}


main{


	width: 80%;
	margin: 2rem auto;
}
*/
body{

	background-image: url(../images/wallhaven-78409.jpg);
}

body,html,img,div,a,header,footer,nav,section,figure,figcaption{


margin:0;
padding:0;

}

footer,header{

background-color: #7f9276;
opacity: 0.7;
text-align: center;
padding: 3em 0;
color: ghostwhite;

}

main{


	
	margin: 4rem auto;
}

section{

margin: 4% 4% auto;
box-shadow: 0 0 10px 2px grey;
background-color: white;
overflow: hidden;
vertical-align: middle;



}


figure{

	width: calc(100% / 4);
	float: left;
	margin: 2% auto;
	
	
}

figure a{

flex-direction:row;
display:flex;
align-items: center;
justify-content: center;
   


}

figure img{

	box-shadow: 0 0 10px 2px #ccc;
	overflow: hidden;

}














